doctype hmyl
html(lang="en")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='NTUEE-Info')
    title NTUEE-Info

    block styles
      link(type="text/css", rel="stylesheet", href="/static/styles/bundle.css")

  body
    block content
    block scripts
      script(src="/static/scripts/common.js")
      script(src="/static/scripts/vendors.js")

// vim: set ts=2 sw=2 sts=2 et:
